---
layout: default
---

<!-- Main -->
<div id="main" class="alt">
  <!-- One -->
  <section id="one">
    <div class="inner">
      <header class="major" style="max-width: 100%">
	<h1>{{ page.document.title }}</h1>
        <h5>Published in {{ page.document.publication.Name }} on {{ page.document.date_published | date: '%d %B %Y' }}</h5>
  </header>
      {% if page.document.cover_image %}<span class="image main"><img src="{{ page.document.cover_image.url }}" alt="" /></span>{% endif %}
      {{ page.document.content | markdownify }}
      <a class="button primary" href="{{ page.document.link }}">Read the full article on {{ page.document.publication.Name }}</a>
    </div>
  </section>
</div>
