---
layout: default
---

<!-- Banner -->
<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>Andrea Teagle</h1>
    </header>
    <div class="content">
      <p style="text-transform: uppercase;">{{ site.description }}</p>
    </div>
  </div>
</section>

<!-- Main -->
<div id="main">
  <section id="one" class="tiles">
    {% assign sorted = strapi.collections.articles | sort: 'date-published' | reverse %}
    {% for article in sorted limit:site.tiles-count %}
    <article>
      <span class="image">
        <img src="{{ post.image }}" alt="" />
      </span>
      <header class="major">
        <h3><a href="{{ article.url  | relative_url }}" class="link">{{ article.title }}</a></h3>
        <h5>Published in {{ article.publication.name }} on {{ article.date-published | date: '%d %B %Y' }}</h5>
        <p>{{ article.content | markdownify | strip_html | truncatewords: 25 }}</p>
      </header>
    </article>
    {% endfor %}
  </section>
</div>
