---
layout: default
---

<!-- Banner -->
<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>Andrea Teagle</h1>
    </header>
    <div class="content">
      <p style="text-transform: uppercase;">{{ site.description }}</p>
      {% assign about = strapi.collections.pages | where:'slug','about' | first %}
      <a class="button small" href="{{ about.url }}">About Andrea</a>
    </div>
  </div>
</section>

<!-- Main -->
<div id="main">

  <section id="one" class="spotlights">
    <div class="inner">
      <header class="major">
        <h2>You might find this interesting:</h2>
      </header>

      {% assign posts = strapi.collections.posts | sort: 'created_at' | reverse %}
      {% for post in posts %}
      <h4>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span style="font-size: 0.6em">   {{ post.created_at | date: '%d %B %y' }}</span>
      </h4>

      <p>{{ post.content | markdownify | strip_html | truncatewords: 25 }}</p>
      {% endfor %}
    </div>
  </section>

  <section id="tree" class="tiles">

    {% assign sorted = strapi.collections.articles | sort: 'date-published' | reverse %}
    {% for article in sorted limit:site.tiles-count %}

    <article style="background-image: url({{ article.cover-image.url }})">
      <span class="image">
        <img src="{{ article.cover-image.url }}" alt="" />
      </span>
      <header class="major">
        <h3><a href="{{ article.url  | relative_url }}" class="link">{{ article.title }}</a></h3>
        <h5>Published in {{ article.publication.name }} on {{ article.date-published | date: '%d %B %Y' }}</h5>
        <p>{{ article.content | markdownify | strip_html | truncatewords: 25 }}</p>
      </header>
    </article>
    {% endfor %}
  </section>
</div>
